/.idea/
targets.json
/bwdata/env/
/bwdata/identity/
/bwdata/mssql/
/bwdata/logs/
/bwdata/core/
*.sql
.coverage
bwdata/ca-certificates/
bwdata/letsencrypt/
bwdata/ssl/
intranet/__pycache__/
intranet/blog/__pycache__/
intranet/blog/migrations/__pycache__/
intranet/box/__pycache__/
intranet/box/management/commands/__pycache__/
intranet/box/migrations/__pycache__/
intranet/custom_user/__pycache__/
intranet/custom_user/migrations/__pycache__/
intranet/home/__pycache__/
intranet/home/management/commands/__pycache__/
intranet/home/migrations/__pycache__/
intranet/intranet/__pycache__/
intranet/intranet/settings/__pycache__/
intranet/search/__pycache__/
