version: '3.2'

services:
  web:
    command: bash -c "
      python /code/manage.py collectstatic --noinput
      && gunicorn --pythonpath intranet intranet.wsgi:application --bind 0.0.0.0:8000 --workers 3
      "
  prometheus:
    volumes:
      - ./certs:/etc/ssl/certs
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --web.external-url=https://intranet.redbutte.utah.edu/prometheus
      - --web.route-prefix=/prometheus/
  nginx:
    env_file:
      - /Users/$USER/intranet_snipe-it.env
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
      - prometheus
      - snipe-mysql
    volumes:
      - static_volume:/home/static
      - media_volume:/home/media
      - ./certs:/etc/ssl/certs
