{% extends "base.html" %}
{% load static %}

{% block content_class %}h-100{% endblock %}

{% block content %}
    <div class="row align-items-center h-100">
        <div class="col h-100">
            <h3>Useful Links</h3>
            <ul>
                <li><a href="{% url 'box:folders' %}">Box Folder Sizes</a></li>
                {% if request.user.is_staff %}
                    <li><a href="https://intranet.redbutte.utah.edu/prometheus/targets">Prometheus Monitoring</a></li>
                    <li><a href="https://snipeit.intranet.redbutte.utah.edu">Snipe IT Inventory Management</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="col justify-content-center">
            <h1>Red Butte Garden Intranet</h1>
        </div>

        <div class="col"></div>
    </div>
{% endblock content %}
